* {
    cursor: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: roboto, arial, helvetica;
    overflow: hidden;
    cursor: none;
    background-image: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* Custom curosr */

#cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 0, 76);
    box-sizing: border-box;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px 5px rgba(255, 0, 76, 0.363);
}

#point {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(0, 255, 255);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}


/* End custom curosr */


/* Custom form */

.neonform {
    width: 40%;
    background-color: #000e0c;
    border-radius: 30px;
    text-align: center;
    padding-top: 30px;
}

.neonform__caption {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 20px white;
    letter-spacing: 5px;
    margin-bottom: 5%;
}

.form-group {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.form-group label {
    font-size: 26px;
    color: rgb(233, 233, 233);
}

.form-group label:nth-child(2) {
    font-size: 22px;
    color: rgb(233, 233, 233);
}

.form-control {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    border-bottom: 2px solid aqua;
    color: aqua;
    font-size: 22px;
}

.form-group .form-control:focus {
    border-bottom: 2px solid rgb(255, 54, 88);
}

.btn {
    width: 200px;
    margin: 0 auto;
    padding: 10px 7px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 30px blue;
    transition: .3s;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(255, 54, 88);
    box-shadow: 0 0 30px rgb(255, 54, 88);
    cursor: none;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: translateY(3px);
}

.btn:hover~#cursor,
.social-list:hover~#cursor {
    width: 25px;
    height: 25px;
    border: 2px dashed rgb(255, 0, 76);
    animation: animate 5s ease-out infinite;
}

.social-list i:first-child:hover {
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgba(59, 89, 152, 0.5);
}

.social-list i:nth-child(2):hover {
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgba(0, 172, 238, 0.5);
}

.social-list i:nth-child(3):hover {
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgba(222, 82, 70, 0.5);
}

@keyframes animate {
    0% {
        border: 2px dashed rgb(255, 0, 76);
        transform: translate(-50%, -50%) rotate(0);
        box-shadow: 0 0 15px 10px rgba(255, 0, 76, 0.363);
        width: 70px;
        height: 70px;
    }
    50% {
        border: 2px dotted rgb(0, 4, 255);
        transform: translate(-50%, -50%) rotate(720deg);
        box-shadow: 0 0 15px 10px rgba(0, 4, 255, 0.363);
        width: 70px;
        height: 70px;
    }
    100% {
        border: 2px dotted rgb(0, 255, 242);
        transform: translate(-50%, -50%) rotate(360deg);
        box-shadow: 0 0 15px 10px rgba(0, 255, 242, 0.363);
        width: 70px;
        height: 70px;
    }
}

.social-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social-list i {
    margin: 0 20px;
}


/* Animation input */

.bounce {
    border-bottom: 2px solid red;
    animation: bounce .5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
}


/* Responsive */


/* For tablet */

@media only screen and (max-width: 1024px) {
    .neonform {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .neonform__caption {
        margin-bottom: 10%;
    }
    .form-group {
        margin-bottom: 5%;
    }
    .form-group label {
        font-size: 24px;
        color: rgb(233, 233, 233);
    }
    .form-group label:nth-child(2) {
        font-size: 20px;
        color: rgb(233, 233, 233);
    }
    .form-control {
        font-size: 20px;
    }
}


/* For mobile */

@media only screen and (max-width: 375px) {
    .neonform {
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .neonform__caption {
        margin-bottom: 10%;
    }
    .form-group {
        margin-bottom: 5%;
    }
    .form-group label {
        font-size: 20px;
        color: rgb(233, 233, 233);
    }
    .form-group label:nth-child(2) {
        font-size: 16px;
        color: rgb(233, 233, 233);
    }
    .form-control {
        font-size: 16px;
    }
}